.predictive-analysis {
  font-size: 20px;
  color: orange;
  margin-bottom: 30px;
}

.fifth-top-heading {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  color: midnightblue;
}

.fifth-top-body {
  font-size: 20px;
  color: #2f2f72;
}

.fifth-bottom-left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  text-align: left;
  padding-top: 60px;
}

.fifth-bottom-heading {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  color: midnightblue;
}

.fifth-bottom-body {
  font-size: 20px;
  color: black;
  margin-bottom: 30px;
}

.fifth-get-the-app {
  background-color: black;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  padding: 10px;
  width: 43%;
  text-align: center;
}

.section-nine-img {
  width: 550px;
  height: 550px;
  position: absolute;
  top: 1%;
  right: 8%;
}

.phone-two-img {
  position: absolute;
  right: 2%;
  width: 440px;
  height: 540px;
  top: 52%;
}

.sec-10-asset {
  width: 150px;
  right: 0;
  height: 150px;
  position: absolute;
  top: 83%;
  z-index: 100;
  right: 40%;
}

.fifth-text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1f1a52;
  position: fixed;
  z-index: 1000;
  top: 47%;
  width: 27%;
  padding-left: 3%;
  text-align: left;
}

.fifth-section-container {
  width: 100%;
  height: 200vh;
  position: relative;
  background-color: #fac0c3;
}

.mask5 {
  position: sticky;
  width: 100%;
  top: 64px;
  z-index: 100;
  height: 100vh;
}

@media only screen and (min-width: 1440px) {
  .section-nine-img {
    width: 650px;
    height: 650px;
    position: absolute;
    top: 1%;
    right: 8%;
  }

  .phone-two-img {
    position: absolute;
    right: 2%;
    width: 540px;
    height: 640px;
    top: 52%;
  }

  .sec-10-asset {
    width: 150px;
    right: 0;
    height: 150px;
    position: absolute;
    top: 83%;
    z-index: 100;
    right: 40%;
  }

  .fifth-text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1f1a52;
    position: fixed;
    z-index: 1000;
    top: 47%;
    width: 27%;
    padding-left: 3%;
    text-align: left;
  }
}

@media only screen and (min-width: 1680px) {
  .mask5 {
    height: 800px;
  }

  .phone-two-img {
    position: absolute;
    right: 2%;
    width: 540px;
    height: 640px;
    top: 64%;
  }

  .sec-10-asset {
    width: 150px;
    right: 0;
    height: 150px;
    position: absolute;
    top: 86%;
    z-index: 100;
    right: 40%;
  }

  .fifth-text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1f1a52;
    position: fixed;
    z-index: 1000;
    top: 41%;
    width: 25%;
    padding-left: 3%;
    text-align: left;
  }
}
