.first-section-container {
  width: 100%;
  position: relative;
  height: 200vh;
  background-color: #1f1a52;
  transition: background-color 0.5s linear;
}

.change-color {
  width: 100%;
  position: relative;
  height: 200vh;
  background-color: #f7c464;
  transition: background-color 0.5s linear;
}

.find-out-how {
  text-align: left;
  font-size: 14px;
  color: black;
  cursor: pointer;
}

.smart-search {
  margin-bottom: 18px;
  font-size: 15px;
  font-weight: 500;
}

.instant-search {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 400;
}

.try-it {
  font-size: 18px;
  margin-bottom: 20px;
}

.get-app-button {
  border-radius: 20px;
  padding: 10px;
  background-color: black;
  cursor: pointer;
  color: white;
  width: 40%;
  text-align: center;
}

.get-app-button:hover {
  box-shadow: 0px 10px 21px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s ease-in-out;
}

.mask1 {
  position: sticky;
  width: 100%;
  top: 64px;
  z-index: 100;
  height: 100vh;
}

.section-1-img {
  right: 0;
  position: absolute;
  width: 550px;
  height: 550px;
}

.section-2-img {
  right: 0;
  top: 53%;
  position: absolute;

  width: 500px;
  height: 500px;
}

.one-top-left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1f1a52;
  position: fixed;
  z-index: 1000;
  top: 56%;
  width: 30%;
  padding-left: 6%;
  padding-left: 3%;
  text-align: left;
  font-family: Rubik;
}

@media only screen and (min-width: 1440px) {
  .section-1-img {
    right: 0;
    position: absolute;
    width: 650px;
    height: 650px;
  }

  .section-2-img {
    right: 0;
    top: 53%;
    position: absolute;
    width: 600px;
    height: 600px;
  }

  .one-top-left-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1f1a52;
    position: fixed;
    z-index: 1000;
    top: 52%;
    width: 30%;
    padding-left: 6%;
    padding-left: 3%;
    text-align: left;
  }

  .smart-search {
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 500;
  }

  .instant-search {
    font-size: 34px;
    margin-bottom: 20px;
    font-weight: 400;
  }

  .try-it {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .find-out-how {
    text-align: left;
    font-size: 18px;
    color: black;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1680px) {
  .section-1-img {
    width: 649px;
    height: 656px;
  }

  .section-2-img {
    width: 613px;
    height: 577px;
    right: 0;
    top: 64%;
  }

  .mask1 {
    height: 800px;
  }

  .second-text-section {
    display: flex;
    flex-direction: column;
    color: #1f1a52;
    position: fixed;
    z-index: 1000;
    top: 35%;
    width: 22%;
    padding-left: 3%;
    text-align: left;
    right: 22%;
  }

  .one-top-left-part {
    top: 47%;
    width: 26%;
  }

  .smart-search {
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 500;
  }

  .instant-search {
    font-size: 34px;
    margin-bottom: 20px;
    font-weight: 400;
  }

  .try-it {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .find-out-how {
    text-align: left;
    font-size: 18px;
    color: black;
    cursor: pointer;
  }
}
