.footer-container {
  height: 90vh;
  width: 100%;
}

.footer-title {
  font-size: 36px;
  color: midnightblue;
  align-self: center;
  justify-content: center;
  font-weight: 400;
  padding-bottom: 50px;
}

.footer-img {
  /* width: 400px;
  height: 340px; */

  width: 501px;
  height: 396px;
}

.download-app {
  font-size: 32px;
  color: midnightblue;
  margin: 25px 0 0 0;
  font-weight: bold;
}

.play-store-img {
  width: 247px;
  margin-top: 20px;
  height: 81px;
  cursor: pointer;
}
