.fourth-heading {
  font-size: 24px;
  align-self: center;
  text-align: left;
  font-weight: 400;
  margin-bottom: 20px;
  color: midnightblue;
}

.fourth-content {
  font-size: 15px;
  align-self: center;
  text-align: left;
  margin-bottom: 25px;
  color: midnightblue;
}

.challenges {
  font-size: 18px;
  color: #ffcd65;
  margin-bottom: 20px;
}

.fourth-get-app-button {
  border-radius: 20px;
  padding: 10px;
  background-color: black;
  cursor: pointer;
  color: white;
  width: 55%;
  text-align: center;
}

.fourth-get-app-button:hover {
  box-shadow: 0px 10px 21px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s ease-in-out;
}

.four-text-wrapper {
  width: 40%;
  align-self: center;
  text-align: left;
  padding-top: 60px;
}

.sec-8-img {
  top: 42%;
  width: 500px;
  position: absolute;
  height: 585px;
  left: 60px;
}

.running-img {
  position: absolute;
  width: 450px;
  height: 450px;
  top: 5%;
  left: 8%;
}

.pyramid-img {
  width: 150px;
  position: absolute;
  height: 150px;
  top: 400px;
  left: 450px;
  top: 83%;
  z-index: 100;
}

.fourth-text-section {
  display: flex;
  flex-direction: column;
  color: #1f1a52;
  position: fixed;
  z-index: 1000;
  top: 35%;
  width: 25%;
  text-align: left;
  right: 10%;
}

.fourth-section-container {
  width: 100%;
  height: 200vh;
  position: relative;
  background-color: #ffdd96;
}

.mask4 {
  position: sticky;
  width: 100%;
  top: 64px;
  z-index: 100;
  height: 100vh;
}

@media only screen and (min-width: 1440px) {
  .sec-8-img {
    top: 49%;
    width: 600px;
    position: absolute;
    height: 685px;
    left: 15px;
  }

  .running-img {
    position: absolute;
    width: 550px;
    height: 550px;
    top: 5%;
    left: 8%;
  }

  .pyramid-img {
    width: 150px;
    position: absolute;
    height: 150px;
    top: 400px;
    left: 450px;
    top: 83%;
    z-index: 100;
  }

  .fourth-text-section {
    display: flex;
    flex-direction: column;
    color: #1f1a52;
    position: fixed;
    z-index: 1000;
    top: 29%;
    width: 25%;
    text-align: left;
    right: 12%;
  }

  .fourth-heading {
    font-size: 32px;
    align-self: center;
    text-align: left;
    font-weight: 400;
    margin-bottom: 20px;
    color: midnightblue;
  }

  .fourth-content {
    font-size: 18px;
    align-self: center;
    text-align: left;
    margin-bottom: 25px;
    color: midnightblue;
  }

  .challenges {
    font-size: 24px;
    color: #ffcd65;
    margin-bottom: 18px;
  }
}

@media only screen and (min-width: 1680px) {
  .running-img {
    position: absolute;
    width: 450px;
    height: 450px;
    top: 64px;
    left: 10%;
  }

  .pyramid-img {
    width: 150px;
    position: absolute;
    height: 150px;
    top: 400px;
    left: 450px;
    top: 86%;
  }

  .sec-8-img {
    top: 64%;
    width: 500px;
    position: absolute;
    height: 500px;
    left: 50px;
  }

  .fourth-text-section {
    display: flex;
    flex-direction: column;
    color: #1f1a52;
    position: fixed;
    z-index: 1000;
    top: 35%;
    width: 28%;
    text-align: left;
    right: 21%;
  }

  .mask4 {
    height: 800px;
  }

  .fourth-heading {
    font-size: 32px;
    align-self: center;
    text-align: left;
    font-weight: 400;
    margin-bottom: 20px;
    color: midnightblue;
  }

  .fourth-content {
    font-size: 18px;
    align-self: center;
    text-align: left;
    margin-bottom: 20px;
    color: midnightblue;
  }

  .challenges {
    font-size: 24px;
    color: #ffcd65;
    margin-bottom: 18px;
  }
}
