.menubar-container {
  position: fixed;
  display: flex;
  height: 64px;
  align-items: center;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.11);
  top: 0;
  z-index: 999;
  background-color: white;
  width: -webkit-fill-available;
  justify-content: space-between;
}

.menubar-sub-wrapper {
  display: flex;
  justify-content: space-between;
}

.menubar-right {
  display: flex;
  cursor: pointer;
  height: 45px;
}

.download-app-wrapper {
  border-radius: 12px;
  border: 1px solid #fc5e44;
  padding: 10px 15px 3px 15px;
}

.download-app-wrapper:hover {
  border: 1px solid #fc5e44;
  background-color: #fc5e44;
  transition: background-color 1s ease;
}

.get-the-app {
  font-size: 17px;
  color: #fc5e44;
}

.get-the-app:hover {
  color: white;
}

.aristotle-logo {
  width: 160px;
  height: 45px;
}

/* 
mobile styles
*/
.aristotle-logo-mobile {
  width: 120px;
  height: 32px;
}

.download-app-wrapper-mobile {
  border-radius: 12px;
  border: 1px solid #fc5e44;
  padding: 5px 10px;
  height: fit-content;
}

.get-the-app-mobile {
  font-size: 15px;
  color: #fc5e44;
}
