.revision {
  font-size: 24px;
  color: #1bb0f6;
  margin-bottom: 18px;
}

.two-top-heading {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
  color: midnightblue;
}

.two-bottom-heading {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
  color: midnightblue;
}

.two-bottom-body {
  font-size: 15px;
  color: #1f1a52;
  margin-bottom: 20px;
}

.two-top-body {
  font-size: 15px;
  color: #1f1a52;
}

.two-bottom-right-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  text-align: left;
  padding-right: 60px;
  width: 50%;
}

.second-get-the-app {
  background-color: black;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  padding: 10px;
  width: 50%;
  text-align: center;
}

.second-get-the-app:hover {
  box-shadow: 0px 10px 21px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s ease-in-out;
}

.bookshelf-img {
  position: absolute;
  left: 10px;
  width: 450px;
  height: 450px;
  top: 4%;
}

.girl-sitting-img {
  width: 295px;
  height: 295px;
  right: 40%;
  top: 55%;
  position: fixed;
  z-index: 1000;
}

.girl-sitting-absolute {
  display: none;
}

.phone-img {
  width: 500x;
  height: 520px;
  left: 50px;
  top: 53%;
  position: absolute;
}

.second-section-container {
  width: 100%;
  height: 200vh;
  background-color: #1bb0f6;
  position: relative;
}

.mask2 {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  top: 64px;
  z-index: 100;
  height: 100vh;
}

.second-text-section {
  display: flex;
  flex-direction: column;
  color: #1f1a52;
  position: fixed;
  z-index: 1000;
  top: 35%;
  width: 26%;
  text-align: left;
  right: 12%;
}

@media only screen and (min-width: 1440px) {
  .bookshelf-img {
    position: absolute;
    left: 10px;
    width: 550px;
    height: 550px;
    top: 4%;
  }

  .girl-sitting-img {
    width: 395px;
    height: 395px;
    right: 37%;
    top: 55%;
    position: fixed;
    z-index: 1000;
  }

  .girl-sitting-absolute {
    display: none;
  }

  .phone-img {
    width: 620px;
    height: 640px;
    left: 50px;
    top: 56%;
    position: absolute;
  }

  .two-top-heading {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    color: midnightblue;
  }

  .two-bottom-heading {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    color: midnightblue;
  }

  .two-bottom-body {
    font-size: 18px;
    color: #1f1a52;
    margin-bottom: 25px;
  }

  .two-top-body {
    font-size: 18px;
    color: #1f1a52;
  }

  .revision {
    font-size: 24px;
    color: #1bb0f6;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1680px) {
  .girl-sitting-img {
    width: 250px;
    height: 250px;
    right: 45%;
    bottom: top;
    top: 64%;
    position: -webkit-sticky;
    position: fixed;
    z-index: 1000;
  }

  .second-text-section {
    display: flex;
    flex-direction: column;
    color: #1f1a52;
    position: fixed;
    z-index: 1000;
    top: 35%;
    width: 23%;
    padding-left: 3%;
    text-align: left;
    right: 22%;
  }

  .mask2 {
    height: 800px;
  }

  .two-top-heading {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    color: midnightblue;
  }

  .two-bottom-heading {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    color: midnightblue;
  }

  .two-bottom-body {
    font-size: 18px;
    color: #1f1a52;
    margin-bottom: 20px;
  }

  .two-top-body {
    font-size: 18px;
    color: #1f1a52;
  }
}

.bookshelf-img-mob {
  width: 100%;
  height: 380px;
  position: absolute;
  left: 0;
}

.phone-img-mob {
  width: 100%;
  height: 380px;
  position: absolute;
  top: 55%;
  left: 0;
}

.girl-sitting-img-mob {
  width: 50%;
  height: 220px;
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 36%;
}

.mask2-mob {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 64px;
  height: 93vh;
}

.second-text-section-mob {
  display: flex;
  flex-direction: column;
  color: #1f1a52;
  position: fixed;
  z-index: 1000;
  bottom: 6%;
  width: 100%;
  padding: 0 6%;
  text-align: left;
}

.position-sticky-two {
  display: flex;
  flex-direction: column;
  color: #1f1a52;
  position: absolute;
  z-index: 100;
  bottom: 6%;
  width: 100%;
  padding: 6%;
  text-align: left;
}

.revision-mob {
  font-size: 20px;
  color: #1bb0f6;
  margin-bottom: 15px;
}

.two-bottom-heading-mob {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
  color: midnightblue;
}

.two-top-heading-mob {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
  color: midnightblue;
}

.second-get-the-app-mob {
  background-color: black;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  padding: 10px;
  width: 90%;
  text-align: center;
  align-self: center;
}
