.third-top-half {
  display: flex;
  height: 100vh;
  border-bottom: 1px solid white;
}

.third-top-left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.third-heading {
  font-size: 34px;
  align-self: center;
  text-align: left;
  font-weight: 400;
  margin-bottom: 25px;
  color: #24236a;
}

.third-content {
  font-size: 20px;
  text-align: left;
  margin-bottom: 30px;
  color: #24236a;
}

.third-top-right-part {
  width: 60%;
}

.third-bottom-half {
  display: flex;
  height: 100vh;
  position: relative;
}

.third-get-app-button {
  border-radius: 20px;
  padding: 10px;
  background-color: black;
  cursor: pointer;
  color: white;
  width: 60%;
  text-align: center;
}

.question-forum {
  font-size: 28px;
  color: #61e8ea;
  margin-bottom: 18px;
}

.kid-out-box-img {
  width: 550px;
  height: 550px;
  position: absolute;
  right: 10%;
  top: 46%;
}

.hand-img {
  width: 780px;
  height: 340px;
  right: 0;
  top: 70%;
  position: absolute;
  z-index: 100;
}

.kid-in-box-img {
  width: 460px;
  height: 435px;
  right: 0;
  z-index: 9;
  position: absolute;
  top: 3%;
}

.sec-5-img {
  position: absolute;
  width: 266px;
  height: 160px;
  top: 31%;
  right: 47%;
  z-index: 100;
}

.third-section-container {
  width: 100%;
  height: 200vh;
  position: relative;
  background-color: #81f2f3;
}

.mask3 {
  position: sticky;
  width: 100%;
  top: 64px;
  z-index: 100;
  height: 100vh;
}

.third-text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1f1a52;
  position: fixed;
  z-index: 1000;
  top: 30%;
  width: 28%;
  padding-left: 4%;
  text-align: left;
}

@media only screen and (min-width: 1440px) {
  .third-text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1f1a52;
    position: fixed;
    z-index: 1000;
    top: 30%;
    width: 27%;
    padding-left: 4%;
    text-align: left;
  }

  .kid-out-box-img {
    width: 650px;
    height: 650px;
    position: absolute;
    right: 10%;
    top: 43%;
  }

  .hand-img {
    width: 880px;
    height: 440px;
    right: 0;
    top: 70%;
    position: absolute;
    z-index: 100;
  }

  .kid-in-box-img {
    width: 560px;
    height: 535px;
    right: 0;
    z-index: 9;
    position: absolute;
    top: 3%;
  }

  .sec-5-img {
    position: absolute;
    width: 266px;
    height: 160px;
    top: 31%;
    right: 47%;
    z-index: 100;
  }
}

@media only screen and (min-width: 1680px) {
  .third-text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1f1a52;
    position: fixed;
    z-index: 1000;
    top: 27%;
    width: 20%;
    padding-left: 4%;
    text-align: left;
  }

  .kid-out-box-img {
    width: 650px;
    height: 650px;
    position: absolute;
    right: 10%;
    top: 43%;
  }

  .hand-img {
    width: 880px;
    height: 440px;
    right: 0;
    top: 80%;
    position: absolute;
    z-index: 100;
  }

  .sec-5-img {
    position: absolute;
    width: 266px;
    height: 160px;
    top: 26%;
    right: 47%;
    z-index: 100;
  }
  .mask3 {
    height: 800px;
  }
}
